
body{
    background-color: #EAF6F6;
}

hr{
    background-color: transparent(170, 160, 160);
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    width: 7.5%;
}

img{
    height: auto;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}

a{
    color: #66BFBF;
}

ul{
    color: #b8776caf;
}